body {
  font-family: "Doto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  color: navy;
  margin: 20%;
}

.parent {
  display: flex;
  flex-direction: column;
}

.child {
  flex-direction: row;
  padding-bottom: 1em;
}
